h1{color: rgb(240, 99, 99);}
#ld{color: black;background-color: rgb(170, 72, 199);border: 5px;border-color: black;}
.color{color: brown;font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;}
*{background-color: aqua;border: 1cm;}

