body{background-color: aliceblue;
    margin-top: 2px;
    margin-right: 0px;
}
h1{
    /* text-decoration:underline rgb(18, 28, 68) ; */
    margin-block-start: 4px;
    border: 2px solid;
    border-radius: 2px;
    padding-right: 00px;
    width: fit-content;

}
#boxes1{
    border: solid 2px black;
    height: 200px;
    display: flex;
    flex-direction: row;
    justify-content: center;

}
#boxes2{
    border: solid 2px rgb(174, 232, 97);
    height: 200px;
    display: flex;
    flex-direction:row;
    justify-content:start;

}
#boxes3{
    border: solid 2px rgb(97, 192, 232);
    height: 200px;
    display: flex;
    flex-direction: row;
    justify-content:end;

}
#boxes4{
    border: solid 2px rgb(97, 192, 232);
    height: 200px;
    display: flex;
    flex-direction: row;
    justify-content:right;

}
#boxes5{
    border: solid 2px rgb(97, 192, 232);
    height: 200px;
    display: flex;
    flex-direction: row;
    justify-content:left;

}


    #boxes6{
        border: solid 2px black;
        height: 200px;
        display: flex;
        flex-direction: row-reverse;
        justify-content:center;
    
    }
    #boxes7{
        border: solid 2px rgb(174, 232, 97);
        height: 200px;
        display: flex;
        flex-direction:row-reverse;
        justify-content:flex-start;
    
    }
    #boxes8{
        border: solid 2px rgb(97, 192, 232);
        height: 200px;
        display: flex;
        flex-direction: row-reverse;
        justify-content:flex-end;
    
    }



    #boxes9{
        border: solid 2px black;
        height: 300px;
        display: flex;
        flex-direction: column;
        justify-content:center;
    
    }
    #boxes10{
        border: solid 2px rgb(174, 232, 97);
        height: 300px;
        display: flex;
        flex-direction:column;
        justify-content:flex-start;
    
    }
    #boxes11{
        border: solid 2px rgb(97, 192, 232);
        height: 300px;
        display: flex;
        flex-direction: column;
        justify-content:flex-end;
    
    }



    #boxes12{
        border: solid 2px black;
        height: 300px;
        display: flex;
        flex-direction: column-reverse;
        justify-content:center;
    
    }
    #boxes13{
        border: solid 2px rgb(174, 232, 97);
        height: 300px;
        display: flex;
        flex-direction:column-reverse;
        justify-content:flex-start;
    
    }
    #boxes14{
        border: solid 2px rgb(97, 192, 232);
        height: 300px;
        display: flex;
        flex-direction: column-reverse;
        justify-content:flex-end;
    
    }



    #boxes15{
        border: solid 2px black;
        height: 300px;
        display: flex;
        flex-direction: row;
        align-items:center;
    
    }
    #boxes16{
        border: solid 2px black;
        height: 300px;
        display: flex;
        flex-direction: row;
        align-items:flex-start;
    
    }
    #boxes17{
        border: solid 2px black;
        height: 300px;
        display: flex;
        flex-direction: row;
        align-items:flex-end;
    
    }




    #boxes18{
        border: solid 2px black;
        height: 300px;
        display: flex;
        flex-direction: column;
        align-items:center;
    
    }
    #boxes19{
        border: solid 2px black;
        height: 300px;
        display: flex;
        flex-direction: column;
        align-items:flex-start;
    
    }
    #boxes20{
        border: solid 2px black;
        height: 300px;
        display: flex;
        flex-direction: column;
        align-items:flex-end;
    
    }
    #boxes21{
        border: solid 2px black;
        height: 300px;
        display: flex;
        flex-direction: column-reverse;
        align-items:center;
    
    }
    #boxes22{
        border: solid 2px black;
        height: 300px;
        display: flex;
        flex-direction: column-reverse;
        align-items:flex-start;
    
    }
    #boxes23{
        border: solid 2px black;
        height: 300px;
        display: flex;
        flex-direction: column-reverse;
        align-items:flex-end;
    
    }


    #boxes24{
        border: solid 2px black;
        height: 300px;
        display: flex;
        flex-direction: row-reverse;
        align-items:center;
    
    }
    #boxes25{
        border: solid 2px black;
        height: 300px;
        display: flex;
        flex-direction: row-reverse;
        align-items:flex-start;
    
    }
    #boxes26{
        border: solid 2px black;
        height: 300px;
        display: flex;
        flex-direction: row-reverse;
        align-items:flex-end;
    
    }
    
.box{
    margin: 2px;
    height: 50px;
    width: 50px;
}

div{
    border: solid red 4px;
}


/* reorder flex items */
div#box1{order:3}
/* div#box2{order:2} */
 div#box3{order:1} 
div#box4{order:-1} 
#boxes27{
    border: solid 2px rgb(43, 232, 134);
    height: 300px;
    display: flex;
    flex-direction: row;
    justify-content:flex-end;

}
#boxes28{
    border: solid 2px rgb(43, 232, 134);
    height: 300px;
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;

}
#boxes29{
    border: solid 2px rgb(43, 232, 134);
    height: 300px;
    display: flex;
    flex-direction: row;
    justify-content:space-between;

}
#boxes30{
    border: solid 2px rgb(43, 232, 134);
    height: 300px;
    display: flex;
    flex-direction: row;
    justify-content:space-around;

}
